.root {
  padding: 24px 12px;
  background-color: var(--primary-black-color);
  border-radius: var(--border-radius-primary);
  box-shadow: var(--boxshadow-main);
}

.card {
  background-color: var(--background-color);
  padding: 32px 24px;
  border-radius: var(--border-radius-primary);
  box-shadow: var(--boxshadow-main);
}

.gridContainer {
  display: grid;
  grid-template-columns: 100%;
  background-color: var(--table-row-primary-color);
  box-shadow: var(--boxshadow-secondary);
  max-height: 68vh;
  overflow: auto;
}

.gridRow {
  display: grid;
  border: 2px solid #777;
}

.gridRow:nth-child(odd) {
  background-color: var(--table-row-secondary-color);
}

.gridRow:hover {
  color: var(--primary-color);
  background-color: var(--highlight-background);
}

.gridItem {
  text-align: left;
  padding: 16px;
}
