.title {
  font-weight: 900;
  font-style: normal;
  user-select: none;
  margin: 13px 0 0 0;
}

.header {
  position: fixed;
  background-color: var(--primary-black-color);
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.headerContent {
  display: flex;
  padding: 0 2.5%;
  justify-content: space-between;
  min-height: unset;
} 

.headerTitle {
  display: flex;
  justify-content: flex-start;
}

.headerRight {
  display: flex;
}

.logoContainer {
  display: flex;
  margin-left: 8px;
  margin-top: 3px;
}

.logoIcon {
  margin: 9px 12px 0 0;
}

.githubBtn {
  border: none;
  background-color: var(--primary-black-color);
  padding: 17px 12px 0 8px;  
}

.sidebarBtn {
  background-color: var(--primary-black-color);
  border: none;
  border-radius: 20px;
  margin: 5px 4px 4px 4px;
  padding: 6px 4px 4px 4px;
}

.sidebarIcon, .disabledSidebarIcon {
  cursor: pointer;
  color: var(--text-color);
  transition: 0.2s;
}

.sidebarBtn:hover {
  background-color: var(--highlight-icon);
}

.disabledSidebarBtn:hover {
  background-color: var(--primary-black-color);
}

.disabledSidebarIcon {
  color: var(--background-color);
  cursor: default;
}





